include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include approvals *.css
recursive-include approvals *.csv
recursive-include approvals *.html
recursive-include approvals *.ico
recursive-include approvals *.js
recursive-include approvals *.json
recursive-include approvals *.md
recursive-include approvals *.png
recursive-include approvals *.py
recursive-include approvals *.svg
recursive-include approvals *.txt
recursive-exclude approvals *.pyc